<div class="p-4 m-2 mt-4 bg-body-tertiary rounded-3 border">
    <h1 class="display-4 fw-bold">
        Northwind
    </h1>
    <p class="fs-4">
        We have the best prices and selection of high quality foods &amp; beverages on the planet! Check out our featured discounts below.
    </p>
    <hr class="my-4">
    <p class="fs-5">For exceptional international quisuine, look no further.</p>
    <a class="btn btn-outline-primary btn-lg" href="#" role="button"><i class="bi bi-cart"></i> Order Now</a>
</div>